/StudentApp/nbproject/private/
/StudentApp/build/
/StudentApp/dist/
/JavaApplication11/nbproject/private/
/JavaApplication11/build/
/ApplicationClient1/nbproject/private/
/ApplicationClient1/build/
/ApplicationClient1/dist/