/TEST1/nbproject/private/
/TEST1/TEST1-war/nbproject/private/
/TEST1/TEST1-ejb/nbproject/private/
/TEST1/dist/
/TEST1/build/
/TEST1/TEST1-ejb/dist/
/TEST1/TEST1-war/build/
/TEST1/TEST1-war/dist/
/TEST1/TEST1-ejb/build/